@let characterLocal = character();

@if (characterLocal) {
  <div class="character-card">
    <p>{{ characterLocal.name }}</p>

    <img
      class="character-image"
      [ngSrc]="characterLocal.image"
      width="200"
      height="200"
      [alt]="characterLocal.name"
    />

    <div class="button-container">
      <button (click)="removeCharacter(characterLocal.id)">
        Remove Character
      </button>

      <a [routerLink]="['/add-edit-character/' + characterLocal.id]"
        >Edit Character</a
      >
    </div>
  </div>
}
