<div class="character-add-container">
  <form [formGroup]="characterForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name:</label>
      <input
        id="name"
        formControlName="name"
        type="text"
        placeholder="Enter character name"
      />
      @if (
        characterForm.get("name")?.invalid && characterForm.get("name")?.touched
      ) {
        <small class="error">Name is required.</small>
      }
    </div>

    <div class="form-group">
      <label for="image">Image URL:</label>
      <input
        id="image"
        formControlName="image"
        type="text"
        placeholder="Enter character image URL"
      />
      @if (
        characterForm.get("image")?.invalid &&
        characterForm.get("image")?.touched
      ) {
        <small class="error">Image URL is required.</small>
      }
    </div>

    <button type="submit" [disabled]="characterForm.invalid">
      {{ store.characterToEdit() ? "Edit Character" : "Add Character" }}
    </button>
  </form>
</div>
